@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Header */
.header {
    height: 10.5vh;
    width: 100%;
    background-color: #353437;
    color: #e4e4e4;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.brand {
    display: flex;
    align-items: center;
    width: 315px;
}

.brand>h1 {
    font-size: 34pt;
}

.brand>img {
    width: 23%;
    margin-right: 10px;
}

.nav {
    display: flex;
}

.nav>ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav>ul>li {
    margin-right: 25%;
    font-size: 1.8rem;
}

.nav>ul>li>a {
    text-decoration: none;
    color: #e4e4e4;
}

.burger {
    position: absolute;
    right: 3%;
    top: 14px;
    cursor: pointer;
    display: none;
}

.line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 3px;
    transition: all 0.5s ease-in-out;
}

.line2 {
    opacity: 0;
}

.line1 {
    transform: translateY(8.5px) rotate(45deg);
}

.line3 {
    transform: translateY(-9.5px) rotate(-45deg);
}

/* Main Body */
.container {
    width: 100%;
    height: 84vh;
    background-color: #01011a;
    display: flex;
}

/* Block-1 - Player */
.player {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    height: 70%;
}

.picture {
    height: 74%;
    background-color: white;
}

.picture>img {
    width: 100%;
    height: 100%;
}

#progressBar {
    width: 100%;
    height: 0.4%;
    margin-top: 10px;
    cursor: pointer;
    opacity: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu>img {
    width: 10%;
    margin: 4% 4%;
    cursor: pointer;
    transition: transform 0.35s;
}

.menu>img:hover {
    transform: scale(1.2);
}

#play-button {
    width: 15%;
}

#gif1,
#gif2 {
    width: 22%;
    height: 53vh;
    margin: 0% 5%;
    padding-bottom: 11.5%;
    opacity: 0;
}

.audio-player {
    margin-top: 1vh;
    border-radius: 0%;
}

/* Block-2 - Play List */
.block-2 {
    height: 100%;
    width: 40%;
}

#play-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.song {
    width: 100%;
    height: 10.3%;
    background-color: white;
    color: black;
    border: 5px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.35rem;
}

.profile {
    width: 6.3vh;
    height: 6.3vh;
    margin: 0 2%;
    border: 2px solid black;
    border-radius: 50%;
}

.duration {
    text-align: right;
}

.play-pause {
    width: 3.5vh;
    height: 3.5vh;
    margin: 0 2%;
    cursor: pointer;
    transition: transform 0.35s;
}

.play-pause:hover {
    transform: scale(1.15);
}

::-webkit-scrollbar {
    width: 2vh;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

/* Footer */
.footer {
    height: 5.5vh;
    width: 100%;
    background-color: #353437;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}