@media screen and (max-width: 950px) {
    .burger {
        display: block;
    }

    .header {
        height: 9vh;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
    }

    .brand {
        width: 284px;
    }

    .brand>img {
        width: 20%;
    }

    .brand>h1 {
        font-size: 30pt;
    }

    .nav>ul {
        flex-direction: column;
    }

    .nav>ul>li {
        margin: 10px 0px;
    }

    .burger-height {
        height: 158px;
    }

    .container {
        height: 84.2vh;
        flex-direction: column;
    }

    .player {
        height: 60%;
        width: 100%;
    }

    .card {
        height: 85%;
    }

    /* .menu>img {
        width: 14%;
        margin: 4% 9%;
    } */

    .block-2 {
        height: 40%;
        width: 100%;
    }

    .song {
        height: 24%;
    }

    .footer {
        height: 6.8vh;
        flex-direction: column;
        font-size: 0.84rem;
    }
}

@media screen and (max-width:550px) {

    #gif1,
    #gif2 {
        width: 0%
    }

    .card {
        width: 270px;
    }
}